throttle.ctrl
*.bak
*.lwp
*.pyc
*.pyo
*.swp
*.*~
/.tox
/*.egg
/data*
/category*
logs*
*apicache*
*pycache*
/cache
/cache/*
.cache
.idea
pywikibot.egg-info/
build
dist
docs/_build/
.vscode/
**/.DS_Store
